<nav class="navbar navbar-default" role="navigation">
  </span>
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{title}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="loc-" class="active"><a href="#">Acceuil</a></li>
            {{#unless logged_in}}
            <li id="loc-login"><a href="#login">Accéder</a></li>
            {{/unless}} 
          </ul> 
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/quantumlicht/collarbone/issues">Found a bug ?</a></li>
            {{#if logged_in}}
            <li>
              {{#if user.picture}}
                <img src="{{user.picture}}" alt="..." id="profile-pic" class="img-responsive img-circle" style="height:50px;">
              {{/if}}
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.username}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a id="profile-link" href="#/users/{{user.user_id}}">Profile</a></li>
                <li><a id="logout-link" href="#">Sign Out</a></li>
                <li><a id="remove-account-link" href="#">Remove Account</a></li>
              </ul>
            </li>
          </ul>
          {{/if}}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div id="header-alert" class="alert alert-success col-md-7 navbar-button" style="display:none;"></div>
  </div>
  <div class="col-md-2"></div>
</div>